.blog {
  position: relative;
}
.blog-container {
  @extend %clearfix;
  padding: 70px 70px 0;
  position: relative;
  transition: .5s;

  @include laptop {
    padding: 50px 4%;
  }

  &_shift_right {
    transform: translateX(250px);
  }
}

.articles {
  width: 1310px/1800px * 100%;
  @extend %right;

  @include tablet {
    width: 100%;
  }
}


@import "blog/header";
@import "blog/sidebar";
@import "blog/articles";