.blog {
  position: relative;
}
.blog-container {
  @extend %clearfix;
  padding: 70px 70px 0;
}
.sidebar {
  width: 410px/1800px * 100%;
  @extend %left;
  position: static;
}
.articles {
  width: 1310px/1800px * 100%;
  @extend %right;
}


@import "blog/header";
@import "blog/sidebar";
@import "blog/articles";