-
   skills = [
   {
      title: "Frontend",
      technologies: ['HTML5', 'CSS3', 'JavaScript & jQuery']
   },
   {
      title: "Backend",
      technologies: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
   },
   {
      title: "WorkFlow",
      technologies: ['Git', 'Gulp', 'Bower']
   }
   ]


section.section.l-about
   .about__column.about__column_left
      svg.triangle(viewBox="0 0 100 100" preserveAspectRatio="none")
         polygon(points="0,0 100,100 0,100")

      .section__title.section__title_fl_left
         .main-title.main-title_about(style="background-image: url(assets/img/decor/about_header.png)") Обо мне
      .about
         .about__img
            img(class="about__avatar" src="assets/img/userfiles/avatar.jpg")
         .block-title Кто я
         .about__desc
            p.
               Привет! Я веб разработчик из Москвы. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.
               Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

   .about__column.about__column_right
      svg.triangle(viewBox="0 0 100 100" preserveAspectRatio="none")
         polygon(points="100,0 100,100 0,100")
      .skills
         .block-title Чем я могу быть вам полезен
         .skills__desc
            p.
               Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
         ul.skills-group
            each skill in skills
               li.skills-group__item
                  .skills-group__title= skill.title
                  ul.skills-list
                     each tech in skill.technologies
                        li.skills-list__item
                           .skill
                              svg.skill__circle(viewBox="0 0 100 100")
                                 circle(r="40" cx="50%" cy="50%" class="circle circle-first")
                                 circle(r="40" cx="50%" cy="50%" class="circle circle-second")
                              .skill__title= tech
