.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}
.social__link {
  display: inline-block;
  text-decoration: none;

  &:hover .icon {
    fill-opacity: 1;
  }
}

.icon {
  display: inline-block;
  width: 31px;
  height: 22px;
  fill: $green-light;
  fill-opacity: .5;
}