extends ../_template

include ../_misc/mixin

block variables
	- var title = 'WELCOME'
	-
		var socials = [
			{
				title: 'vk',
				link: 'https://vk.com/id170986'
			},
			{
				title: 'github',
				link: 'https://github.com/geekorn'
			},
			{
				title: 'in',
				link: ''
			}
		]
	-
		var menu = [
			{
				title: 'Обо мне',
				link: 'about.html'
			},
			{
				title: 'Мои работы',
				link: 'portfolio.html'
			},
			{
				title: 'Блог',
				link: 'blog.html'
			}
		]

block content
	.main-welcome
		.welcome__background
			.auth-button
				a.button.button-auth(href="#") авторизоваться
			.welcome-wrapper
				include ../common/welcome/welcome

			.welcome__copyright
				+copy-right