.auth.auth_disabled
   .auth-title
      span.auth-title__text авторизуйтесь
   .auth__form
      form(action="" method="" class="auth-form")
         .auth-form__input.input-group
            span.input-group__icon
            input.input-group__field(type="text" placeholder="Логин")
         .auth-form__input.input-group
            span.input-group__icon
            input.input-group__field(type="password" placeholder="Пароль")
         .auth-form__checkbox
            label.checkbox
               input.checkbox__fake(type="checkbox")
               span.checkbox__label Я человек
         .auth-form__radio.radio-group
            .radio-group__title Вы точно человек?
            .radio-group__inputs
               label.radio-btn
                  input.radio-btn__fake(type="radio")
                  span.radio-btn__label Да
               label.radio-btn
                  input.radio-btn__fake(type="radio")
                  span.radio-btn__label Не уверен
         .auth-form__buttons.form-btn
            .form-btn__left-btn
               button.form-button(type="button") На главную
            .form-btn__right-btn
               button.form-button(type="submit") Войти