.welcome
   .welcome__user-info
      +user
   .welcome__socials
      +social(socials, '')
   .welcome__menu
      +nav('menu', 'inline', menu)
      //nav.menu
      //   ul.menu__list
      //      li.menu__item.menu__item_inline
      //         a.menu__link.button(href="#") Мои работы
      //      li.menu__item.menu__item_inline
      //         a.menu__link.button(href="#") Обо мне
      //      li.menu__item.menu__item_inline
      //         a.menu__link.button(href="#") Блог